@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Montserrat", sans-serif;
}
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/libreria6.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper{
    width: 420px;
    background: white;
    border: white;
    box-shadow: 0 0 10px rgba(255,0,0,.2);
    color: rgb(206, 150, 123);
    font-weight: 400;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(140, 140, 140);
    border-radius: 40px;
    font-size: 16px;
    color: rgb(77, 77, 77);
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: rgb(168, 168, 168);
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    text-align: center;
}

.remember-forgot label input{
    accent-color: rgb(77, 77, 77);
    margin-right: 3px;
}

.remember-forgot a{
    font-weight: 400;
    color: rgb(206, 150, 123);
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

/* Transición de color suave para el botón */
.wrapper .btn {
  width: 100%;
  height: 45px;
  background: rgb(206, 150, 123);
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: 600;
  transition: background 0.3s ease, transform 0.2s ease;
}

.wrapper .btn:hover {
  background: rgb(180, 120, 95);
  transform: scale(1.03);
}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.register-link p a {
    color: rgb(206, 150, 123);
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

.swal2-popup {
  border-radius: 12px !important;
  font-family: 'Poppins', sans-serif;
}
.swal2-title {
  color: #333;
}
.swal2-confirm {
  background-color: #3a7bd5 !important;
}
.footer{
    padding: 30px 0;
    background-color: rgb(0, 0, 0);
}